.dialogoverlay{
    --animation-speed:200ms;
    position: absolute;
    top:0;
    visibility: hidden;
    opacity: 0;
    transition:visibility var(--animation-speed) linear,  opacity var(--animation-speed) ease-in;
}
.visible{
    visibility: visible;
    opacity: 1;
}
.dialog {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.background {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .5;
    position: absolute;
    top: 0;
}

.contentBox {
    width: 70vw;
    height: 50vh;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
}

.media {
    background-color: red;
    width: 1500px;
    border-radius: 1rem 0 0 1rem;
    height: 100%;
}

.content {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
}

.titleBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
}

.closeBtn {
    min-width: 30px;
    border-radius: 1rem;
    border-radius: 1rem;
    height: 30px;
    border: none;
    background-color: lightblue;
    font-weight: bold;
}

